* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Lato;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: url('../bg.png');
  min-height: 200vh; 
  line-height: 1.5;
  margin: 0;
  padding: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  position: relative;
  overflow-x: hidden;

}


